:root {
  --main-background: #0b0c10;
  --text-color: black;
  --text-color1: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  list-style: none;
}
a{
text-decoration: none;
}

/* .light-theme {
  background-color: #ffffffad;
  color: black;
} */

/* .dark-theme {
  background-color: var(--main-background);
  color: var(--text-color1);
} */

#blur.active{
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}
#blur.blurred {
  filter: blur(5px);
}

@media (max-width:800px){
  body{
    display: none;
  }
}

/* @media(max-width:768px){
  main{
    filter: blur(5px) brightness(0.7);
  }
} */
/* For Mobile devices: 320px-480px
For Tablets or iPad: 480px - 768px
For Laptop or small-size screen: 768px -1024px
For Desktop or large-size screen: 1024px -1200px
For Extra-large size device: 1200px and more */