
.certificatTitle h3{
    display: flex;
    margin: 12px;
    font-weight: 900;
    font-size: 2.5rem;
    justify-content: center;
}
.certi-top{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.certi{
    text-align: center;
    width: 84%;
    height: 75vh;
    border-style: solid;
    border-color: black;
    background-color: #edf0f3;
    border-radius: 25px;
    margin: 45px;
}
.certi img {
    margin: 26px 26px 26px 26px;
    height: 68%;
    width: 37vw;
}
.certi h4{
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
}
/* .certification-top{
    position: relative;
    text-align: center;
} */